
body{
    margin-left: 20 px;


}
body a{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    

}   


header{
    border:black 1px solid;

}

#logo{
    font-weight: 600;
    height:102px;
    margin:20px;
    padding:15px 30px;
   
}
    
.secondary {
    
    font-size: 1rem;
    line-height: 1.38889;
    padding: 15px 30px;
    border:black 1px solid;
    background-color: #ffff5a;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: color black;
    color: #000;
    font-weight: 600;
}
.secondary:hover{
    background-color: black;
    color:white;
}


.primary{
    padding: 15px 30px;
    margin-right: 2%;
    margin-left: auto;
    background-color: transparent;
    border:black 1px solid;
    text-decoration: none;
    line-height: 1.5;
    font-size: 18px;    
    font-family: sans-serif;
    color: #000;

}
.primary:hover{
    background-color: black;
    color:white;

}

#text1::first-letter{
    font-size: xx-large;
    color:crimson;

}
#text2::first-line{

    color:blue;

}

.action{
    color:#000;
    padding: 10px 20px;
    border:black 1px solid;
    text-decoration: none;
    font-family: sans-serif;
    line-height: 1.5;
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;


}
.action:hover{
    background-color: black;
    color:white;
}

footer{
    background:lightgrey;
    border:1px black solid;

    width: 1500px;
    
}


.social{
    background-position: 0px 0px;
    background-image:url(../img/icons_social_media\ \(1\).svg);
    background-repeat: no-repeat;
    width: 250px;
    height: 45px;
    display:block;
    overflow: hidden;
    background-size: 208px;
    text-indent: -9999px;
    padding:45px 45px;   

}

.social ul li{
    border:red 1px solid;
    padding:10px; 
    display: block;
    width:max-content;
    height:15px;
    margin-bottom: 5px;

}


#visit{
    
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 10px;
    


}

#mail{
  
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 15px;

}
#mail input{
    height: 35px;
      width: 200px;
    
}
#enviar input{
    padding: 5px 15px;
    background-color: lightgrey;
   
    text-decoration:  black;
    font-size: 15px;    
    font-family: sans-serif;
    
}


#connect{
    
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;

}

#d3{
  
    background-color: lightgrey;
    font-weight: bold;
}



#d3 ul li{
    
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
    list-style: none;
    text-decoration: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px
}

