





#logo{
    font-weight: 600;
    height:102px;
    margin:20px;
    padding:15px 30px;
   
}
    


.secondary {
    
    font-size: 1rem;
    line-height: 1.38889;
    padding: 15px 30px;
    border:black 1px solid;
    background-color: #ffff5a;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: color black;
    color: #000;

    font-weight: 600;
}
.secondary:hover{
    background-color: black;
    color:white;
}


.primary{

    padding: 15px 30px;
    margin-right: 2%;
    margin-left: auto;
    background-color: transparent;
    border:black 1px solid;
    text-decoration: none;
    line-height: 1.5;
    font-size: 18px;    
    font-family: sans-serif;
    color: #000;

}
.primary:hover{
    background-color: black;
    color:white;

}

#text1::first-letter{
    font-size: xx-large;
    color:crimson;

}
#text2::first-line{

    color:blue;

}

.action{
    color:#000;
    padding: 10px 20px;
    border:black 1px solid;
    text-decoration: none;
    font-family: sans-serif;
    line-height: 1.5;
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;


}
.action:hover{
    background-color: black;
    color:white;
}






.social{
    background-position: 0px 0px;
    background-image: url(/themes/custom/mfabootstrap5/images/icons_social_media.svg);
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background-size: 208px auto;

}



